//---------------------
// 	$COLORS
//---------------------

$black:        #0b0d0d;
$gray:         #414444;
$gray-light:   #e3e6e7;
$white:        #ffffff;

$blue-light: #d7ecfa;
$blue: #1d92cf;
$blue-dark: #1775a6;
$green-light: #e1faea;
$green: #3adb76;
$green-dark: #22bb5b;
$red-light: #f7e4e1;
$red: #cc4b37;
$red-dark: #a53b2a;
$yellow-light: #fff3d9;
$yellow: #ffae00;
$yellow-dark: #cc8b00;

// Form validation colors
$state-success: #468847;
$state-error:   #b94a48;

/**
 * Sass Variables 
 * Social Media Brand Colors 
 */

$facebook: #3b5998;
$twitter: #00b6f1;
$youtube: #b31217;
$instagrammagenta: #c32aa3;
$instagramblue: #4c5fd7;
$instagrampurple: #7232bd;
$instagramorange: #f46f30;
$instagramyellow: #ffdc7d;
$pinterest: #cb2027;
$googleplus: #df4a32;
$linkedin: #007bb6;
$vimeoblue: #45bbff;
$vimeogreen: #aad450;
$vimeoorange: #f7b42c;
$vimeopink: #f27490;
$tumblr: #2c4762;
$snapchat: #fffc00;
$whatsappgreen: #25d366;
$whatsappteal1: #075e54;
$whatsappteal2: #128c7e;
$foursquarepink: #fc4575;
$foursquareblue: #2d5be3;
$swarm: #ffb000;
$skypeblue: #00aff0;
$skypegreen: #7fba00;
$android: #a4c639;
$stumbleupon: #eb4924;
$flickrpink: #f40083;
$flickrblue: #006add;
$yahoo: #430297;
$soundcloud: #ff5500;
$spotifygreen: #1ed760;
$spotifydarkgreen: #1db954;
$dribbble: #ea4c89;
$reddit: #ff5700;
$deviantart: #4a5d4e;
$pocket: #ee4056;
$quora: #aa2200;
$quorablue: #2b6dad;
$slideshareorange: #f7941e;
$slideshareblue: #1191d0;
$fivehundredpx: #0099e5;
$listlyorange: #df6d46;
$listlyblue: #52b1b3;
$vine: #00b489;
