* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body {
    height: 100%;
    font-family: tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: rockwell, serif;
    text-transform: uppercase;
}

h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.5em;
}
small {
    font-size: .7em;
}