//------------------------------------//
//  $GRIDS
//------------------------------------//

// Grid wrapper
.gw,
.grid-wrapper {
  list-style: none;
  margin-bottom: 0;
  margin-left: -$gutter;

  @include clearfix;
}

@supports (display: grid) {
  .gw,
  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: dense;

    @include media($from: tablet) {
      grid-gap: 2 * $gutter; 
    }
    margin-left: 0;
  }
}


// Reverse grid
.gw--rev > .g,
.grid-wrapper--rev > .grid { float: right; }


// Gutterless grid
.gw--full,
.grid-wrapper--full {
  margin-left: 0;
  grid-gap: 0;

  > .g,
  > .grid {
    padding-left: 0;
  }
}


// Very infrequently occuring grid wrappers as children of grid wrappers
.gw > .gw,
.grid-wrapper > .grid-wrapper { margin-left: 0; }


// Grid
.g,
.grid {
  float: left;
  width: 100%;
  padding-left: $gutter;
  transition: width .15s ease;


}

@supports (display: grid){
  .g,
  .grid {
    padding-left: 0;
  }
}
