{% extends 'layout/base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'grid.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="content">
<div class="grid">
    <div class="headline">
        <div>
            <h1>Here Is The Main Headline</h1>
            <small>Class aptent per conubia nostra, per inceptos himenaeos.</small>
        </div>
    </div>
    <div class="main">
        <p>Quisque lobortis sem eu magna pulvinar commodo. Integer ac suscipit quam.<br><br>
        Nam mattis nibh orci, dictum hendrerit est pellentesque sit amet.</p>
    </div>
    <div class="item even">
        <div class="top">
            <img src="/static/img/f1.jpg"/>
            <div class="triangle"></div>
        </div>
        <h2>Title One</h2>
        <p class="middle">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        <a class="btn">More</a>
    </div>
    <div class="item odd">
        <div class="top">
            <img src="/static/img/f2.jpg"/>
            <div class="triangle"></div>
        </div>
        <h2>Title Two</h2>
        <p class="middle">Suspendisse tellus mauris, congue ultrices consequat ut, vestibulum id quam.</p>
        <a class="btn">More</a>
    </div>
    <div class="item even">
        <div class="top">
            <img src="/static/img/f3.jpg"/>
            <div class="triangle"></div>
        </div>
        <h2>Title Three<br>The Larger Title</h2>
        <p class="middle">Mauris pellentesque mollis nibh non porta. Aliquam et orci lectus.</p>
        <a class="btn">More</a>
    </div>
    <div class="item odd">
        <div class="top">
            <img src="/static/img/f4.jpg"/>
            <div class="triangle"></div>
        </div>
        <h2>Title Four</h2>
        <p class="middle">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        <a class="btn">More</a>
    </div>
</div>
</div>
{% endblock %}