{% extends 'layout/base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="container-fluid gw">
  <div class="card-user-profile g one-whole tablet-one-half desk-one-third">
    <img class="card-user-profile-img" src="/static/img/projects/grid-tiles-img.png" alt="picture of space" />
    <div class="card-user-profile-content card-section">
        <div class="card-user-profile-avatar">
            <img src="https://pbs.twimg.com/profile_images/422887689612820482/sZtHMJu5.png" alt="picture of yeti" />
        </div>
        <p class="card-user-profile-name">Post Cards Display</p>
        <p class="card-user-profile-status">Two Columns | Tiles</p>
        <p class="card-user-profile-info">The Yeti, once better known as the Abominable Snowman, is a mysterious bipedal creature said to live in the mountains of Asia. It sometimes leaves tracks in snow, but is also said to dwell below the Himalayan snow line.</p>
    </div>
  </div>
</div>
{% endblock %}