<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Mikhaila C Friske</title>

        <link href="{% static 'scss/home/nav.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/projects/base.css' %}" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <!-- Navigation -->
        <header class="nav-container">
        {% block nav %}
            {% include 'includes/nav.html' %}
        {% endblock %}
        </header>
        <!-- Header -->
        <div>
        {% block header %}
        {% endblock %}
        </div>
        <!-- Main Content -->
        <div>
        {% block content %}
        {% endblock %}
        </div>
        <!-- Footer -->
       <!--  <footer>
        {% block footer %}
            {% include 'includes/footer.html' %}
        {% endblock %}
        </footer> -->

        <!-- JavaScript -->
        {% block js %}
        {% endblock %}
    </body>
</html>
