@import '../tools/functions';
@import '../settings/global';
@import '../settings/colors';
@import '../tools/mixins';

body {
    background: $gray-light;
}

.nav-logo {
    i {
        font-size: 2rem;
    }
}

.hero-text {
    display: none;
    @include media($from: tablet) {
        display: block;
        font-family: 'Cabin Sketch', cursive;
        color: #7c7c7c;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 7rem;
        position: absolute;
        top: calc(30vh - 57px);
        right: 200px;
    }
    @include media($from: desk) {
        top: calc(26vh - 57px);
        font-size: 10rem;
    }
}

.hero {
    @include media($from: tablet) {
        background: url('../../img/projects/hero_banner.png') right no-repeat #f7f7f7;
        background-size: contain;
        height: 50vh;
    }
}

.btn {
    margin: .5rem;

    @include media($from: hand) {
        margin: 0 .5rem;
    }
}

.avatar-web-app {
    background: $blue !important;
}

.avatar-layout {
    background: #7359E0 !important;
}

.avatar-design {
    background: $yellow !important;
}

.avatar-mobile {
    background: $red !important;
}

.avatar-api {
    background: #F75FA0 !important;
}